#!/usr/bin/env bash

export CLICOLOR=1
export LSCOLORS=gxfxcxdxbxegedabagacGx
export CLICOLOR_FORCE=
export GREP_OPTIONS='--color=auto'
export DISPLAY=":0.0"

export GITAWAREPROMPT=~/.bash/git-aware-prompt
source "${GITAWAREPROMPT}/main.sh"

export PS1="\[\e[0;91m\]\u\[\e[m\] \[\e[1;94m\]\w\[\e[m\] \[$txtcyn\]\$git_branch\[$txtred\]\$git_dirty\[$txtrst\] \[\e[0;92m\]"

# http://stackoverflow.com/questions/9457233/unlimited-bash-history
export HISTFILESIZE=
export HISTSIZE=
export HISTTIMEFORMAT="[%F %T] "
export HISTFILE=~/.bash_history_improved
# Force prompt to write history after every command.
export PROMPT_COMMAND="history -a; $PROMPT_COMMAND"
