#!/usr/bin/env bash

unset GREP_OPTIONS
export CLICOLOR=1
export LSCOLORS=gxfxcxdxbxegedabagacGx
export CLICOLOR_FORCE=
# export DISPLAY=":50.0"

export GITAWAREPROMPT=~/.bash/git-aware-prompt
source "${GITAWAREPROMPT}/main.sh"

export GITCOMPLETION=~/.bash/git-completion
if [ -f "${GITCOMPLETION}/git-completion.bash" ]; then
   source "${GITCOMPLETION}/git-completion.bash"
   __git_complete g __git_main
fi

# with user
# export PS1="\[\e[0;91m\]\u\[\e[m\] \@ \[\e[1;94m\]\w\[\e[m\] \[$txtcyn\]\$git_branch\[$txtred\]\$git_dirty\[$txtrst\] \[\e[0;92m\]"
# export PS1="\[\e[1;31m\]\D{%I:%M}\[\e[m\]  \[\e[1;94m\]\w\[\e[m\] \[$txtcyn\]\$git_branch\[$txtred\]\$git_dirty\[$txtrst\] \[\e[0;96m\]"
export PS1="\[\e[1;31m\]\D{%I:%M}\[\e[m\]  \[\e[1;94m\]\w\[\e[m\] \[$txtcyn\]\$git_branch\[$txtred\]\$git_dirty\[$txtrst\] "

# http://stackoverflow.com/questions/9457233/unlimited-bash-history
export HISTFILESIZE=
export HISTSIZE=
export HISTTIMEFORMAT="[%F %T] "
export HISTFILE=~/.bash_history_improved
# Force prompt to write history after every command.
export PROMPT_COMMAND="history -a; $PROMPT_COMMAND"
